<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbanmusleem.terawihsendirian">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_break_fast"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_break_fast"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SelawatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Terawih2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Terawih4Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Terawih6Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Terawih8Activity"
            android:screenOrientation="landscape" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>